/* Global Styles */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth 0.3s ease-in-out;
}

body {
    background-image: url('assets/bg-img.jpg'), radial-gradient(circle at 50% 10%, violet, rgb(0, 0, 85));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    background-blend-mode: multiply;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', Arial, sans-serif;
    animation: slideBackground 30s infinite ease-in-out;
}

/* NavBar Section */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.35);
    border-bottom: 2px solid white;
}

nav .navbar-brand {
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav .navbar-brand:hover {
    background-color: white;
    color: #000;
}

#navbar-toggler {

    border: 2px solid white;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 12px;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link.btn {
    display: inline-block;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link.btn:hover {
    background-color: white;
    color: #000;
}

/* Home Section */
#home {

    color: white;
    min-height: 100vh; /* Changed to min-height */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

#home h1 {
    font-size: 76px;
    font-weight: bold;
    text-align: center;
}

#home .btn {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease-in-out;
}

#home .btn:hover {
    background-color: white;
    color: #000;
    transform: scale(1.20);
}

/* About Section */
#aboutme {
    display: flex;
    justify-content: center;
    padding: 32px 16px;
    margin: 0;
}

#aboutme h1 {
    color: white;
    font-size: 56px;
    font-weight: bold;
    text-align: center;
}

#aboutmecontainer {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 70px;
}

#abouttext-left h5, #aboutimage-center, #abouttext-right h5 {
    color: black;
    font-size: 20px;
}

/* Projects Section */
#projects {
    display: flex;
    justify-content: center;
    padding: 32px 16px;
}

#projects h1 {
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.card-body {
    width: 250px;
    height: 350px;
}

.card-text {
    font-size: 14px;
}

/* Contact Section */
#contacts {
    display: flex;
    justify-content: center;
    padding: 32px 16px;
}

#contacts h1 {
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.contact-form-wrapper {
    max-width: 90%;
    width: 600px;
    padding: 8px 16px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    color: black;
}

.contact-form-wrapper .btn {

}

#message {
    min-height: 200px;
}

textarea.form-control {
    resize: none;
}

/* Footer Section */
footer {
    border-top: 2px solid white;
    color: white;
    padding: 16px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.35);
}

footer p {
    font-size: 16px;
}


/* Mobile Adjustments */
@media (max-width: 992px) {
    .navbar-brand {
        font-size: 20px;
    }

    .navbar {
        padding: 8px 16px;
        margin: 0;
    }

    .navbar-collapse .navbar-nav {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: start;
        gap: 16px;
        text-align: center;
        padding: 16px;
    }

    .navbar-nav .nav-item {
        font-size: 16px;
        margin: 0; 
    }

    .nav-link.btn {
        font-size: 14px;
        margin: 0;
        padding: 16px;
        display: inline-block;
    }

    #home h1 {
        font-size: 64px;
        padding: 8px 16px;
    }

    #home .btn {
        font-size: 18px;
        padding: 8px 16px;
    }

    #aboutmecontainer {
        flex-direction: column;
        align-items: center;
    }

    #abouttext-left, #abouttext-right, #aboutimage-center {
        max-width: 100%;
        margin: 16px 0;
        padding: 0 16px;
    }

    .projects .row {
        flex-direction: column;
        align-items: center;
    }

    .projects .col-md-4 {
        max-width: 100%;
        margin-bottom: 32px;
    }

    .contact-form-wrapper {
        padding: 24px;
        margin: 0 16px;
    }

    .form-floating input, .form-floating textarea {
        font-size: 14px;
    }

    .contact-form-wrapper .btn {
        width: 100%;
    }

    .contact-form-wrapper .bi {
        font-size: 24px;
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 18px;
    }

    .navbar {
        padding: 8px 8px;
        margin: 0;
    }

    .navbar-collapse .navbar-nav {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: start;
        gap: 8px;
        text-align: center;
        padding: 8px;
    }

    .navbar-nav .nav-item {
        font-size: 16px;
        margin: 0; 
    }

    .nav-link.btn {
        font-size: 12px;
        margin: 0;
        padding: 8px;
        display: inline-block;
    }

    #home h1 {
        font-size: 50px;
        padding: 8px 16px;
    }

    #home .btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .aboutme h1, .projects h1, .contact h1 {
        font-size: 30px;
    }

    .card-img-top {
        height: 150px;
    }

    .contact-form-wrapper {
        padding: 8px 4px;
    }

    .form-floating label {
        font-size: 14px;
    }
    
    #message {
        min-height: 100px;
    }

    footer p {
        font-size: 14px;
    }
}

@keyframes slideBackground {
    0% {
        background-position: 0% center;
    }
    50% {
        background-position: 100% center;
    }
    100% {
        background-position: 0% center;
    }
}
